<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
</head>
<body>
    <h1>this is the home page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt soluta ipsum corporis illum alias ducimus labore cumque sed. Hic reprehenderit nam vel vero provident quisquam explicabo, voluptate doloremque vitae animi!
        Maxime us beatae vitae, voluptatum quidem accusamus quo incidunt, animi nisi hic praesentium perspiciatis ipsa eos voluptas et sequi a alias aliquid vero? Saepe, voluptates culpa!</p>
<h3>hey how are you</h3>
 <h1> <%= 1+2 %></h1>
       
</body>
</html>